  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Changa+One&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

  :root {
      --black-color: #161616;
  }

  /* reset */
  * {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
  }

  .intro {
      position: fixed;
      display: flex;
      justify-content: center;
      z-index: 5;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--black-color);
      background-image: url(images/wires.svg);
      background-repeat: no-repeat;
      background-size: cover;
      transition: 1.2s;
  }

  .logo-header {
    display: flex;
      justify-content: center;
  }

  .logo {
      width: 400px;
      bottom: -200px;
      opacity: 0;
  }

  .frame1.active {
      bottom: 0px;
      opacity: 1;
      transition: ease-in-out 0.5s;
  }

  .frame2.active {
      bottom: 0px;
      opacity: 1;
      transition: ease-in-out 2s;
  }



  html {
      scroll-behavior: smooth;
  }

  body {
      height: 100%;
      width: 100%;
  }

  header,
  main,
  footer {
      background-color: white;
  }

  .floating {
      position: absolute;
      z-index: 0;
  }

  .wires {
      position: absolute;
      width: 100vw;
      top: 400px;
  }



  section {
      margin-bottom: 100px;
      height: 400px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  #heroSec,
  #application {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 40px;
  }

  .promotional {
      aspect-ratio: 16/9;
      height: 210px;
      margin: 20px;
  }

  .text {
      margin: 20px;
      width: 500px;
  }

  .text h1 {
      font-size: 28px;
      margin-bottom: 10px;
  }

  .text p {
      font-size: 14px;
  }

  #availableSec,
  #applySec {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  h2 {
      font-size: 28px;
  }

  #brandList {
      position: relative;
      display: flex;
      align-items: flex-start;
      overflow-x: auto;
      width: 90vw;
  }

  #brandList::-webkit-scrollbar {
      width: 5px;
  }

  /* Track */
  #brandList::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  #brandList::-webkit-scrollbar-thumb {
      background: #888;
  }

  /* Handle on hover */
  #brandList::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  .brand {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      width: 200px;
      height: 280px;
      padding: 10px;
      margin: 20px;
  }

  .brand-img {
      width: 160px;
      max-height: 160px;
      margin-bottom: 20px;
  }

  .brand h3,
  .brand p {
      text-align: center;
  }

  .address {
    font-size: 10px;
  }

  /* general rules */
  .trnst {
      transition: 300ms ease-in-out;
  }

  .flex {
      display: flex;
  }

  .col {
      flex-direction: column;
  }

  .scaled {
      scale: 1.3;
  }

  .arrow {
      font-family: 'Bruno Ace SC';
  }

  .glass {
      border-radius: 8px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(4.8px);
      border: 1px solid rgba(255, 255, 255, 0.73);
  }

  /* NAV */
  nav {
      width: 100%;
      height: 110px;
  }

  .nav-container {
      justify-content: space-between;
  }

  .weblogo {
      /* width: 250px; */
      height: 110px;
      padding: 20px 0px 10px 36px;
  }

  .links {
      width: 600px;
      align-items: center;
      justify-content: space-evenly;
  }

  .links li {
      list-style: none;
      width: auto;
      height: auto;
  }

  .links li a {
      text-decoration: none;
      color: var(--black-color);

  }

  .other-web:hover,
  .apply:hover {
      scale: 1.08;
  }

  .apply button:hover {
      background-color: #a30f4e;
      cursor: pointer;
      box-shadow: 10px 10px 30px #adadad,
          -10px -10px 30px #eeeeee;
  }

  .offers {
      display: none;
  }

  .divider {
      width: 1.2px;
      height: 25px;
      display: none;
  }

  .menu-btn {
      font: inherit;
      font-weight: 600;
      background: none;
      border: none;
      width: 180px;
      padding: 0;
      border-radius: 10px 10px 0 0;

  }


  .menu-content {
      display: none;
      position: absolute;
      min-width: 180px;
      z-index: 1;
      border-radius: 10px;
      background-color: white;
  }

  .links-hidden {
      display: block;
      text-align: center;
      padding: 5px;
      font-size: 16px;
      border-radius: 8px;
  }

  .dropdown-menu:hover .menu-content {
      display: block;
  }

  .dropdown-menu:hover .menu-btn {
      padding-block: 5px;
      border-bottom: 0.5px solid #c2c2c2;
  }

  .links-hidden:hover {
      background: #ffffff;
      box-shadow: 1px 1px 10px #adadad,
          -1px -1px 10px #eeeeee;
  }

  .apply button {
      font-size: 24px;
      padding: 10px 20px;
      border: none;
      color: white !important;
      font-family: 'Changa One', cursive;
      background-color: var(--black-color);
      border-radius: 23px;
  }


  /* MAIN */

  .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      border-radius: 10px;
      height: 195px;
      width: 300px;
      margin-right: 20px;
  }

  .title {
      font-size: 18px;
  }

  .description {
      margin-top: 5px;
      font-size: 14px;
  }

  .form div {
      display: flex;
      margin-top: 20px;
      gap: 5px;

  }

  .form div>* {
      height: 40px;
  }

  .form div input {
      outline: none;
      font-size: 14px;
      padding: 10px 5px;
      background-color: rgb(255 255 255 / 0.05);
      border: 1px solid rgba(222, 222, 222, 0.637);
      border-radius: 6px;
  }

  .form div input::placeholder {
      color: var(--black-color);
  }

  .form div input:focus {
      border: 1px solid rgb(99 102 241);
  }

  .form div button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 6px 14px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      border-radius: 6px;
      border: none;

      color: #fff;
      background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
      background-origin: border-box;
      box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
      user-select: none;
      -webkit-user-select: none;

  }

  .form div button:active {
      background: linear-gradient(0deg, #4B91F7 0%, #367AF6 100%);
  }


  .cardimage-wrapper {
      padding: 20px;
      gap: 20px;
  }

  .cardimage {
      width: 242px;
      height: 153px;
      grid-template-columns: 242px;
      grid-template-rows: 153px;
      display: grid;
  }

  .bg {
      width: inherit;
      height: inherit;
      border-radius: 8.5px;
  }

  .bgback {
      width: 242px;
      height: 153px;
      border-radius: 8.5px;
  }



  .textedit {
      color: white;
      text-align: right;
      margin-right: 8px;
  }

  .number {
      font-size: 10px;
      font-weight: 400;
      margin-top: 8px;
  }

  .name {
      font-size: 10px;
      font-weight: 800;
      margin-top: 20px;
  }

  .team {
      font-size: 6px;
      font-weight: 400;
      margin-top: 35px;
      margin-left: 140px;
  }

  .placed {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
  }

  .credits a,
  .credits {
      font-size: 10px;
      font-family: 'Times New Roman', Times, serif;
      color: rgb(114, 114, 114);
      text-decoration: none;
  }

  .cup,
  .mug,
  .wallet,
  .marker {
      position: relative;

  }

  .wallet {
      top: 110px;
      left: 800px;
      width: 100px;
  }

  .cup {
      top: 680px;
      left: 270px;
      width: 120px;
  }

  .mug {
      top: 900px;
      left: 1100px;
      width: 100px;
  }

  .marker {
      top: 530px;
      left: 550px;
      width: 50px;
  }
